/* This style sheet is used for the styles of the experience page (experiencePage.html) */
main {
  color: #636363;
}
  
body {
  background-color: #f5f5fd;
  font-family: Verdana, sans-serif;
}

.experienceTitle {
  text-align: center;
  padding-bottom: 15px;
  padding-top: 10px;
}

img, svg {
  vertical-align: middle;
}

*, ::after, ::before {
  box-sizing: border-box;
}

img {
  overflow-clip-margin: content-box;
  overflow: clip;
}

div {
  display: block;
}

.row {
  --bs-gutter-x: 1.5rem;
  --bs-gutter-y: 0;
  display: flex;
  flex-wrap: wrap;
  margin-top: calc(var(--bs-gutter-y) * -1);
  margin-right: calc(var(--bs-gutter-x) * -.5);
  margin-left: calc(var(--bs-gutter-x) * -.5);
}

h1 {
  font-size: 50px;
}


h2 {
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 12px;
}

.timelineContainer {
  border-left: 5px solid f5f5fd;
  margin-left: 4%;
}

.timeline-row {
  margin-left: 1%;
  margin-bottom: 40px;
  align-items: center;
}

.image-col img {
  width: 100px;
  border-radius: 80%;
}

.textTimelineContainer {
  border-radius: 40px;
  padding: 15px;
  background-color: #e9f2f4;
  box-shadow: 0 0 0 2px gainsboro;
}

@media (min-width: 768px){
  .col-md-6 {
      flex: 0 0 auto;
      width: 80%;
  }
}
@media only screen and (min-width: 768px){
  .image-col {
      width: 130px;
  }
}

.textTimelineContainer span {
  font-style: italic;
}

@media only screen and (max-width: 768px) {
  .text-col {
    width: 90%;
    padding-top: 2%;
  }

  .image-col {
    width: 100px;
  }

  .col-md-2 {
    flex: 0 0 auto;
  }

}